#rootPane {
	-fx-background-color: white;
	-fx-pref-width: 300px;
	-fx-pref-height: 140px;
	-fx-padding: 5px;
}

#vbox {
	-fx-alignment: center;
}

#vbox > #lblTitle {
	-fx-font-size: 24px;
	-fx-font-family: System;
	-fx-font-weight: bold;
}

#vbox > #hbox_field {
	-fx-alignment: center;
	-fx-spacing: 5px;
}

#vbox > #hbox_button {
	-fx-alignment: center-right;
	-fx-spacing: 5px;
}

#vbox > #hbox_button > .button {
	-fx-pref-width: 75px;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-font-family: System;
	-fx-text-fill: white;
}

#vbox > #hbox_button > #btnSalvar {
	-fx-background-color: #4a98e3;
}

#vbox > #hbox_button > #btnSalvar:hover {
	-fx-background-color: #334db3;
}

#vbox > #hbox_button > #btnCancelar {
	-fx-background-color: #f25d5d;
}

#vbox > #hbox_button > #btnCancelar:hover {
	-fx-background-color: #b31a1a;
}