#rootPane {
	-fx-pref-height: 380px;
	-fx-pref-width: 600px;
	-fx-background-color: white;
	-fx-padding: 5px;
}

#rootPane > #lblTitle {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-font-family: System;
}

#rootPane > #txtCodigo {
	-fx-pref-width: 83px;
	-fx-pref-height: 25;
}

#rootPane > #txtProduto {
	-fx-pref-width: 377px;
	-fx-pref-height: 25px;
}

#rootPane > #txtNcm {
	-fx-pref-width: 219px;
	-fx-pref-height: 25px;
}

#rootPane > #txtEan {
	-fx-pref-width: 219px;
	-fx-pref-height: 25px;
}


#rootPane > #hbox {
	-fx-spacing: 5px;
}

#rootPane > #hbox > .button {
	-fx-pref-width: 75px;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-font-family: System;
	-fx-text-fill: white;
}

#rootPane > #hbox > #btnSalvar {
	-fx-background-color: #4a98e3;
}

#rootPane > #hbox > #btnSalvar:hover {
	-fx-background-color: #334db3;
}

#rootPane > #hbox > #btnCancelar {
	-fx-background-color: #f25d5d;
}

#rootPane > #hbox > #btnCancelar:hover {
	-fx-background-color: #b31a1a;
}


#rootPane > .button {
	-fx-background-color: transparent;
	-fx-background-size: 100%;
	-fx-background-image: url("/icons/add.png");
	-fx-pref-height: 22px;
	-fx-pref-width: 22px;
}

#rootPane > .button:hover {
	-fx-background-color: #dde7ec;
}

#rootPane > .button:pressed {
	-fx-background-color: #a1b0bb;
}

#rootPane > #tblUn {
	-fx-pref-width: 288px;
	-fx-pref-height: 67px;
}

#rootPane > #cmbGrupo {
	-fx-pref-width: 146px;
	-fx-pref-height: 25px;
}

#rootPane > #cmbMarca {
	-fx-pref-width: 146px;
	-fx-pref-height: 25px;
}








