#center_pane {
	-fx-background-color: white;
}

#lf_vbox {
	-fx-padding: 5px;
	-fx-background-color: #425a62;
	-fx-spacing: 55px;
	-fx-alignment: center ;
	-fx-pref-height: 100%;
}

#lf_vbox > .button {
	-fx-background-color: transparent;
	-fx-background-size: 100%;
	-fx-pref-height: 30px;
	-fx-pref-width: 30px;
}


#lf_vbox > #btnHome {
	-fx-background-image: url("/icons/home.png");
}

#lf_vbox > #btnProduto {
	-fx-background-image: url("/icons/Produto.png");
}

#lf_vbox > #btnExit {
	-fx-background-image: url("/icons/exit.png");
}

#lf_vbox > #btnFaturamento {
	-fx-background-image: url("/icons/salle.png");
}

#lf_vbox > .button:hover {
	-fx-background-color: #f6d81f;
}

#lf_vbox > .button:focused {
	-fx-background-color: #f6d81f;
}












